{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block content %}

{% if not request.user.is_authenticated %}
    <div style="margin-top:30px;">
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? Then click ==> <a href="/login">LOG IN</a></p>
    </div>
{% else %}
    <p>You are already logged in and cannot register. Would you like to <a href="/logout/">logout</a>?</p>
{% endif %}

{% endblock %}

</body>
</html>